.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sideByside {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .sideByside {
    flex-direction: row;
    justify-content: space-between;
  } 
}

.sideBySideCenter {
  composes: sideByside;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .sideBySideCenter {
    text-align: left;
  }
}